<div class="{{formsRootClass}} brand-forms" data-form-root data-forms-path="{{formsPath}}" aria-hidden="true">
  <span class="{{formsFrameOneClass}} brand-form-frame brand-form-frame--flip" data-form-slot="flip"><img class="{{formsImageOneClass}} brand-form" src="{{formsPath}}Union.svg" alt="" /></span>
  <span class="{{formsFrameTwoClass}} brand-form-frame brand-form-frame--spin" data-form-slot="spin"><img class="{{formsImageTwoClass}} brand-form" src="{{formsPath}}Vector-33.svg" alt="" /></span>
</div>
